/* Error: Parentheses aren't allowed in plain CSS.
 *     ,
 * 598 |   -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
 *     |                     ^
 *     '
 *   scss/main.css 598:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Parentheses aren't allowed in plain CSS.\a     \2577 \a 598 \2502    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];\a     \2502                      ^\a     \2575 \a   scss/main.css 598:21  root stylesheet";
}
