/////////////////////////////////////////////////////////////////
/*--------------Defining Variables----------------------*/
/////////////////////////////////////////////////////////////////
$website-width: 1400px;
$page-height: 100vh;
$primary-color: #08415e;
$secondary-color: #076c74;
$accent-color: #ff8300;
$primary-text-color: #f4f6f4;
$dark-color: #0e0905;
$light-color: #e0e3ea;
$sucess-color: #54eb72;
$container-lg: 82%;
$container-md: 90%;
$transition-effect: all 400ms ease;
